.index-main{
    display: grid;
    grid-template-areas: 
    "products1 products2"
    "sect1 sect2"
    "sect1 sect2"
    ;
    .main-section-1{
        grid-area: sect1;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        form{
            border: .1px solid black;
            margin-bottom: 5px;
        }
    }
    .main-section-2{
        grid-area: sect2;
        display: flex;
        flex-wrap: wrap;
        div{
            display: flex;
            flex-direction: column;
            margin: 30px;
            margin-left: auto;
            margin-right: auto;
            text-align: center;
            img{
                width: 90%;
                max-width: 300px;
            }
            a{
                text-decoration: none;
                color: black;
                border: .1px solid black;
                font-size: 20px;
                font-weight: bold;
            }
        }
    }
    .products1{
        text-align: center;
        grid-area: products1;
        margin-right: 10px;
        margin-left: 10px;
        h2{
            font-size: 16px;
            border: .1px solid black;
        }
    }
    .products2{
        text-align: center;
        grid-area: products2;
        h2{
            font-size: 16px;
            border: .1px solid black;
            margin-right: 10px;
            margin-left: 10px;
        }
    }
}
